<% name ||= "Ingresar" %>
<h1><%=name%> un Artículo</h1>
<div style="width:80%;margin:0px auto">
<%= form_for(@article) do |a| %>
	<% @article.errors.full_messages.each do |message| %>
		<div>*<%=message%></div>
	<% end %>
	<div><%= a.text_field :title, placeholder:"Título", class:"form-control"%></div>
	<div><%= a.text_area :body, placeholder:"Cuerpo del Artículo", class:"form-control"%></div>
	<div><%= a.submit "Guardar", style:"background-color:#C61732;	color:#fff;	padding:10px 5px;"%></div>
<%end%>
</div>
