<% @articles.each do |article| %>
	<h1><%= link_to article.title, article %></h1>
	<div><%= article.body %></div> - <%=  link_to "Eliminar", article, style:"color:#C61732 !important", method: :delete %>
<%end%>
<%=resp%>