<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  	<header>
  		<nav id="menu">
  			<ul>
  				<li class="item">Blog Facilito</li>
  				<li class="item"><%= link_to "Inicio",root_path %></li>
  				<li class="item">Diseño</li>
  				<li class="item">Programación</li>
  				<li class="item">Tegnología</li>
  			</ul>
  		</nav>
  	</header>
    <%= yield %>
  </body>
</html>
