html, body{
	margin:0px;
}
#menu{
	width:100%;
	display:inline-block;
	background-color:#C61732;
	color:#fff;
	padding:10px 5px;
	vertical-align:middle;
	height:50px;
}
.item{
	float:left;
	width:20%;
	list-style-type: none;
}
.item:hover{
	backgroud-color:#FF2424;
}
.item a,.item a:visited{
	color:#fff;
	text-decoration:none;
}
.form-control{
	width:100%;
	border:none;
	border-bottom: 1px solid;
	outline:none;
	display:block;
	padding: 10px 0px;
	font-size: 1.2em;
}